 @import 'style';
 
[class*="col-"], .col{
	border: 1px solid transparent;
	
	&:hover{
	border: 1px solid pink;
	}
}

html{
	overflow-x: hidden; 
}

#tinymce, .content-column{
	padding: 0 15px !important;
}

.post-type-post{
	width: $content-column;
	margin: auto;
}

