input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	/* Rectangle 33: */

	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
  outline: none;
  /* Rectangle 33: */
  background: rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  box-shadow: none;
  -webkit-appearance: none;
	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

input[type="search"]{
	-webkit-appearance: none; /* add this */
}


.module input:not([type="submit"]), .module textarea, .white-bg input:not([type="submit"]), .white-bg textarea{
	background: rgba(0,0,0,0.06);
	color: $color__text-input-on-white;
	border: 1px solid rgba(0,0,0,0.1);
	//font-weight: 600;
	@extend .transitions;
	&:focus{
		color: $color__text-input-focus-on-white;
		background: rgba(white, .2);
	}
	
	
}