@import "buttons";

@import "fields";


//search-form quick styling


.search-form{
	position: relative;	
	display: flex;
	align-items: center;
	
	.search-field{
		width: 100%;
	}
}



.search-submit{
		@include font-size(.8);
		box-shadow: none;
		background: none;
		text-shadow: none;
		color: inherit;
		padding: 0;
		margin: 0;
		@extend .transitions;
		
		position: absolute;
		top: 0;
		bottom: 0;
		right: 6px;
	}
	
	.search-form label{
		width: 100%; //large enough for icon to display while this is visibly hidden
		
	}
	

//snp search bar in menu
.menu-search{
	
	.search-form label{
		width: 20px; //large enough for icon to display while this is visibly hidden
		overflow: hidden;
		visibility: hidden;
		transition: all .5s;
	}
	
	.search-field{
		padding-right: 0;
		
	
	}
	
	
}


.menu-search.toggled{
		label{
			width: 200px;
			overflow: visible;
			visibility: visible;			
		}
		
		.search-field{
				padding-right: 20px;
			}

	}
	
	
@media screen and (max-width: $mobile-nav-menu){
	
		
		
.menu-search{
	order: -1;
	
	form{
	 padding-left: 10px;
	}
	
	.search-submit{
		right: 25px;
	}
	
	.search-form label{
		width: 90%;
		visibility: visible;
	}
	
	label .search-field{
		padding-right: 20px;

		
	}
			
			
	}
}



/*--------------------------------------------------------------
# gravity forms
--------------------------------------------------------------*/
.gfield{
	position: relative;
	
}

#page ul.gform_fields li.gfield{
	padding-right: 0;
}

.gform-button{
	display: block;
	width: 100%;
	padding: 5px 15px;
}
.remove-labels .gfield_label{
	display: none;
}


@media screen and (max-width: $mobile-width){
.ginput_recaptcha{
	transform:scale(0.85);
	transform-origin: 0;
	}
	
	}