/*
 * This is where you can style elements that appear across your website and are not specific.
*/

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

body{
	background: $background-body;
}


hr{
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
} 


/*--------------------------------------------------------------
# icons changes
--------------------------------------------------------------*/

//Some icons need to be nudged up or down to look perfect.
.icon-home, .icon-office{
	top: -2px;
}

.icon-angle-down{
	top: -1px;
}

.icon-mail-reply{
	top: -1px;
}


/*--------------------------------------------------------------
# Break Out Styles
--------------------------------------------------------------*/
.break-out{
	background: $background-break-out;
	color: $color-break-out;
	
	a{
		color: $highlight-active;
	}
}

/*--------------------------------------------------------------
# Footers
--------------------------------------------------------------*/ 
.site-footer{
	background: $background-footer;
	color: $color-footer;
	padding: $gutters 0 5px 0;
	
	@include font-size(.8);
	
	.widget-title{
		margin: 0;
		margin-bottom: 5px;
		@include font-size(.86);	
		font-weight: bold;
	}
	
	a:hover{
		color: $highlight;
	}
	
	.site-info{
		@include font-size(.6);
	}
}