/*--------------------------------------------------------------
# Global Forms
--------------------------------------------------------------*/
label {
	color: $color-text-main;
	display: block;
	font-weight: 800;
}

fieldset {
	margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid rgba($highlight, .2);
	background: $background-input;
	color: $color-input;
	width: 100%;
	transition: all .5s;
	
	&:focus{
		border: 1px solid $highlight;
	}
}


select {
	width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}


/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

button,
.button,
input[type="button"],
input[type="submit"] {
	border: none;
	background: $highlight;
	color: $on-highlight;
	padding: 3px 10px;
	transition: all .5s;
	cursor: pointer;
	
	&.focus{
		background: shade($highlight, 15%);
	}
	
	&:active{
		background: shade($highlight, 50%);
	}
}

::-webkit-input-placeholder {
	color: tint($color-input, 30%);
	font-family: $font-main;
}

:-moz-placeholder {
	color: tint($color-input, 30%);
	font-family: $font-main;
}

::-moz-placeholder {
	color: #333;
	font-family: $font-main;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #333;
	font-family: $font-main	
}
	

@media( min-width: $mobile-nav-width ){
	button,
	.button,
	input[type="button"],
	input[type="submit"] {
		
		&:hover{
			background: shade($highlight, 15%);
		}
	}

}

/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/
.search-form{
	display: flex;

	
	.search-field{
		flex: 1;
		padding: 3px 10px 3px 5px;
	}
	
	.search-submit{
		margin-left: -5px;
		
	}
}

