/*--------------------------------------------------------------
# Entry Images
--------------------------------------------------------------*/

figure {
	margin-top: 0;

	img {
		margin-bottom: 0;
		display: block;
	}
}

figcaption {
	@include font-size(.7);
	font-style: italic;
	margin-top: 5px;
	text-align: left;
	color: $color-text-secondary;
}

@media (max-width: $mobile-width) {
	.aligncenter, .alignright, .alignleft, figure img {
		margin-left: 0;
		margin-right: 0;
		display: block;
		float: none;
		width: 100% !important;
	}

}

/*--------------------------------------------------------------
# Galleries
--------------------------------------------------------------*/

.gallery {
	display: flex;
	justify-content: center;
	margin: auto;
}

.entry-content > .gallery {
	@extend .negative-gutters;
}

$columns: 1, 2, 3, 4, 5, 6, 7, 8, 9;
@each $column in $columns {
	.gallery-columns-#{$column} .gallery-item {
		width: (100%/$column);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.gallery .gallery-item {
	@extend .gutters;
	margin: 10px 0 10px 0;
}

.gallery-icon {
	width: 100%;

	//for this to look nice make sure the images are at least medium size or have a width of around 700 and a height of at least 300
	img {
		object-fit: cover;
		height: 300px;
		width: 100%;
	}
}


