/*
 * This file is for styling your posts, pages, and archive pages
 * Default layouts have been provided under file structure_defaults.
 * These defaults include things like header height, and placing text in center of header.
*/

/*--------------------------------------------------------------
# Post Navigation
--------------------------------------------------------------*/
.post-navigation {
	background: $post-naviagtion-bg;
	padding: 15px 0;

	a {
		color: $color-text-secondary;
	}

	a:hover {
		color: $highlight;
	}

	.nav-links {
		@extend .content-column;
	}

	.nav-title-icon-wrapper {
		margin: 0 5px;
	}

	.nav-subtitle {
		display: none;
	}

	.nav-next {
		float: right;
	}
	.nav-previous {
		float: left;
	}
}

/*--------------------------------------------------------------
# Defualt Styles for posts and pages. Change or delete. 
--------------------------------------------------------------*/

/*------- Default author and updated post meta not showing --------*/

.updated:not(.published) {
	display: none;
}

//author of post and info
.byline {
	display: none;
}

.posted-by {
	display: flex;

	a, img {
		display: block;
	}
	.author-avatar {
		margin-right: 10px;
	}
}

//each post type needs: the archive page header styled if there is an archive page, the single post entry styled and the archive articles list styled
//you can set featured image behind or above or below the rest of the content in header using @extend .image-behind|.image-below on the header

/*------- Archive pages --------*/
.blog, .archive {
	.page-header {

		background: $background-header;
		color: $color-header;

		.page-title, h1 {
			color: inherit;
			text-align: center;
		}

	}

	.has-post-thumbnail.page-header {
		background: $background-header-with-image;
		@extend .image-behind;
	}
}

/*------- Single and Page Headers --------*/
.single, .page {
	.entry-header {
		background: $background-header;
		color: $color-header;
	}

	.has-post-thumbnail .entry-header {
		background: $background-header-with-image;
		@extend .image-behind;
	}

	.page-title, h1 {
		color: inherit;
		text-align: center;
	}

}

/*------- List of posts on any Archives --------*/

//example of making a grid if wanted of all posts
.posts-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.blog article, .archive article, .search article {
	border: 1px solid rgba($grey, .2);
	margin-bottom: $gutters;
	color: $color-content;
	background: $background-content;

	flex: 1 300px;
	max-width: 100%;
	overflow: hidden;

	margin: 0 $gutters $baseline $gutters;

	display: flex;
	flex-direction: column; //stack the items in article

	.entry-header {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.featured-image {
		flex: 1;
		max-height: 350px;
	}

	.entry-title, .cat-links, .entry-content, .entry-meta {
		padding: 0 20px;
	}

	.posted-by {
		display: none; //not needed unless there are more authors
	}

	.tag-links, .cats-tags-sep {
		display: none;
	}

	.cat-tags-meta {
		margin-bottom: 4px;
	}

	.cat-links a {
		color: $color-meta;
		text-transform: uppercase;
		@include font-size(.65);
	}

	.entry-title {
		text-transform: uppercase;
		color: $color-title;
		margin: 0 0 5px 0;
		@include font-size(1.2);

		&:hover {
			color: highlight;
		}
	}

	.entry-header a {
		color: inherit;
	}

	.entry-content {
		@include scss-font-lock(15px, 16px, 400px, 1000px);
	}

	.entry-meta {
		@include font-size(.65);
		color: $color-meta;
		display: flex;
		margin-bottom: 5px;

		.posted-on {
			flex: 1;
		}
	}

	.entry-meta a {
		color: inherit;
	}

}

//post and page articles on archive, or any post type...

//Add your own post type stuff here to override


