/*
 * This page is used to make defualt layout for any elements on the site.
 * There is no styles of colors and backgrounds here. Just structure and layout.
 * You can override whats here in other scss files, unless you know what you are doing.
*/

/*--------------------------------------------------------------
# Default Layout.
--------------------------------------------------------------*/


/*------- Default Headers --------*/ 
/*
	- By default headers have a min height of 40 view-height.
	- Inside the header is a div.header-content class that is centered vertically and horizontally with flex and given paddings on all sides.
	- The title has no margins. 
	- This setup is most ideal and you can add content to header and still everything will be centered and nicely aligned
	- Add styles in post_types.scss to override and change headers per post type as opposed to here. 
*/

.page-header, .single .entry-header, .page .entry-header{
	position: relative;
	overflow: hidden;
	min-height: 40vh;
	
	display: flex;
	justify-content: center;
	align-items: center;  //aligns .header-content to center if image is behind. else it just ignores
	flex-direction: column; //featured-image stacked on top of header-content unless behind. or set to be below
	
	//the edit link for archive page headers. For all others the edit link is in the amdin bar.
	.edit-link{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		@include font-size(.6);
	}
	
	
	//everything inside header is contained inside .header-content by default except the header image
	.header-content{
		padding: $gutters;
		max-width: $wrap;
		margin: auto;
		
		.entry-title, .page-title, h1{
			margin: 0;
		}	
	}
	
}


/*------- Header image placement --------*/ 
/*
	- By default the header featured image is set to be large and full width suing cover. It can be either behind the header-content, usually darkened, or above it or below it.
	- Simple classes have been provided here to change its behavior. It defaults to being above the header content at a height of 300px
	- Just add class .image-behind or .image-below onto header to change the images placement
	- You can also use @extend .image-behind instead of adding the class for the same effect. This is done in the post_types.scss by default
*/


/*------- Default Post Thumbnails/ Featured Image --------*/ 

//holds large header image inside header. 
//Also used inside posts on an archive page. If thats the case ,featured-image is an anchor tag 
.featured-image{ 
	display: block;
	width: 100%;
	height: 300px; //default height. 
}

//the actual img element inside featured-image, set to fill its container
//uses size seasaltpress-featured-image set in functions.php
.header-image{
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
	background-size: cover; //fallback for ie. Using js we detect and set it to be background image instead. 
}


/*------- Image Placement Classes --------*/ 
/*
	 - Place one of these classes on the header and the image will go below or behind. 
	 - You can also use @extend to add it to a header
*/

//image moves below title and text
.image-below .featured-image{
	order: 2;
}

//image goes behind header
.image-behind .featured-image{
	position: absolute;
	z-index: -1;	
	top: 0;
	left: 0;
	height: 100%;
}


/*------- Global Default Articles --------*/ 

//centering articles with a max width
.single .entry-content, .page .entry-content{
	@extend .content-column;
	padding-top: $baseline;
}

//on page blank template, articles are full sized.
.page-template-page-blank{
	.single .entry-content, .page .entry-content{
		max-width: 100%;
		padding: 0;
		padding-top: $baseline;
	}
}

//when there is a sidebar, entry-content is on right not centered.
.content-sidebar-holder .entry-content{
	margin-left: 0;
}








/*--------------------------------------------------------------
# Sidebar Default Layout
--------------------------------------------------------------*/

/*------- No JS fallback  --------*/ 
//if you want this full time, disable the javascript stuff in navigation.js
@media (min-width: $mobile-width){
	.no-js .site-content{
		display: flex;
		
		.content-area{
			flex: 1;
		}
	}
}


/*------- Default Sidebar  --------*/
 
#secondary{
	width: 25%;
	will-change: width;
	max-width: $sidebar-width;
}


.sidebar-holder{ //holds everything inside secondary
	@extend .gutters;
}


.content-area, .site-footer{
	width: 100%;
	will-change: width;
}

//hide sidebar.
.js .content-area ~ .widget-area{
	display: none;
}

//hide toggle
.sidebar-toggle{
	display: none;
}


/*------- Cool Sidebar toggle function --------*/ 

body .sidebar-toggle{
	transition: all .5s;
	transition-delay: .05s;
	z-index: 30;
}

#page #secondary.sidebar-open{
	transform: translate(0,0);
	transition: all .4s; //open faster than .6s below. gets rid of slight white line between sidebar and content
}




//if the screen is wide enough we will make primary, footer and site-top thinner when sidebar opens so it looks like its pushing it over
@media (min-width: $mobile-width + 500px){
	
		.content-area, .site-top, .site-footer, .break-out > *{
			transition: all .6s;
		}
	
	
	.cool-sidebar.sidebar-open{
		.content-area, .site-top, .site-footer, .break-out > *{
			width: calc( 100vw - #{$sidebar-width});
		}
	}
	
	
}


/*------- Cool Sidebar Layout off to side. Opens with toggle button --------*/ 


//on mobile and cool-sidebar show sidebar toggle
.cool-sidebar .sidebar-toggle{
	display: block;
}


.js .cool-sidebar .content-area ~ #secondary{
	position: absolute;
	top: 0;
	right: 0;
	padding-top: $cool-sidebar-top-padding;
	display: block;
	transition: all .65s; //close slower
	height: 100%;
	min-height: 100vh;
	transform: translate(#{$sidebar-width}, 0);
	width: $sidebar-width;
	z-index: 20;

	
	.sidebar-holder{
		@extend .touchscroll;
		height: 100%;
	}
}


