/**
 * Here you can add or change variables that will affect layout, color and backgrounds.
 */
 
 
/*--------------------------------------------------------------
# Layout and Structure Variables
--------------------------------------------------------------*/

$wrap: 1030px;            //max width of site
$gutters: 15px; 					//two columns next to each other becomes 30px of gutters when this is 15px
$baseline: 2 * $gutters;   //used mostly for a margin bottom. Matches gutters
$content-column: 700px; 	//max width of text content holder. usually has gutters also making the content width really 670. Good for holding Articles.

$sidebar-width: 300px;		//keeping sidebar from getting too big in flexbox layout
$cool-sidebar-top-padding: 60px;  //should match your site-top height or be bigger. Find your site top height via inspector



/*------- Media Queries --------*/ 
$mobile-width: 500px;  		//when the site should go mobile

//NOTE: when changing these 2 values below, also make sure to change the navigation.js corresponding values. 
//You will find them at the top of that file. They are resonsible for doing some scripts when the window hits those values

$mobile-nav-width: 600px; //when the main menu should go mobile
$sidebar-mobile-width: 1000px; //when sidebar should go mobile and hidden off to side



/*--------------------------------------------------------------
# Typography Variables
--------------------------------------------------------------*/

$font-main: 'Roboto', arial, sans-serif;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height-pre: 1.6;
$font-line-height-body: 1.5;
//html main font size can be found in typograpgy.scss. Uses css font lock to change width based on window size.



/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

//try never to put colors you add directly onto other scss pages. Otherwise you have to go through them all if you want to change a color.
//Instead use the applied colors varaibles below in your theme files so you can change colors here if needed at a later date.

//5 to 6 colors is usually good for one site. 
//I like using https://coolors.co/app to choose my colors
$white: white;
$off-white: #F5F8F9;
$blue: #10B8E0;
$dark-blue: #1C3144; 
$black: #161F26; 
$grey: #6C747D;

//shades, tints and fades
$faded-white: rgba($off-white, .3);
$faded-dark-blue: rgba( $dark-blue, .7);



/*--------------------------------------------------------------
# Applied Colors
--------------------------------------------------------------*/


//use, add and remove based on how specific your theme needs to be. Use descriptions as the variable to help you remember.

/*------- Body --------*/ 
$color-text-main: $black;      //main color of text
$color-text-secondary: $grey; //metadata, dates...
$background-body: $off-white; //main background


/*------- Links and Buttons --------*/ 
$highlight: $blue;
$highlight-active: shade($highlight, 30%);
$on-highlight: $white; //if $highlight is used for background, this color goes on top. Good for buttons 


/*------- Inputs --------*/ 
$color-input: $grey;
$background-input: $white;
$border-input: shade($highlight, 30%);


/*------- Default Content Headers --------*/ 
$color-header: $white;
$background-header: $dark-blue; //when there is just text in header
$background-header-with-image: $faded-dark-blue; //when there is an image in header, theres this faded blue and text on top.


/*------- Default Content --------*/ 
$color-title: $dark-blue;
$color-meta: $grey; //date, categories... 
$color-content: $black; //actual article text
$background-content: $white;  //background behind content
$background-content-shadow: rgba($dark-blue, .5);  
$post-naviagtion-bg: $dark-blue;


/*------- Sidebar --------*/ 
$background-sidebar: $black;
$color-sidebar: $grey;
$color-sidebar-header: $white;
$color-sidebar-highlight: $grey;
$color-sidebar-highlight-active: $blue; 


/*------- Inline Sidebar --------*/ 
$background-inline-sidebar: transparent;
$color-inline-sidebar: $grey;
$color-inline-sidebar-header: $black;
$color-inline-sidebar-highlight: $grey;
$color-inline-sidebar-highlight-active: $blue; 


/*------- Break-Out --------*/ 
$color-break-out: $white;
$background-break-out: $blue;


/*------- footer --------*/ 
$color-footer: $white;
$background-footer: $dark-blue;






/*--------------------------------------------------------------
# Applied menu and site top Colors/Backgrounds
 - All this stuff can be found in menus.scss
--------------------------------------------------------------*/

/*------- Site Top --------*/ 

//site-top and logo
$background-site-top: $white;
$color-logo: $blue;

//Site top positioning
$site-top-position: relative; //relative or absolute ro fixed
$header-top-padding: 0;     //useful if making your site top absolute on desktop. if so set to size of header top padding so header is below.

//menu toggle buttons
$background-menu-toggle: transparent; //also for sidebar toggle
$color-menu-toggle: $dark-blue;

//when toggled on
$color-menu-toggled: $white; //only applies if not using cool-menu
$color-sidebar-toggled: $white; 


/*------- Desktop menus --------*/ 

//margin between items
$menu-item-margin-right: 10px;


//Desktop Menu Links
$color-menu-link: $grey;
$background-menu-link: transparent;

//Desktop Menu Links Hovered
$color-menu-link-hover: $blue; 
$background-menu-link-hover: transparent; 

//Submenus
$background-sub-menu: $blue; //background of the submenu dropdown
$color-sub-menu-link: $off-white;
$background-sub-menu-link: transparent; //background of each submenu item

//Submenu Link Hovers
$color-sub-menu-link-hover: $blue; 
$background-sub-menu-link-hover: $off-white;



/*------- Mobile Menu --------*/ 

//Mobile Popout Background Color
$background-mobile-popout: radial-gradient(top left, #2DA6D8 0%, #1F4567 100%);


//Links
$color-mobile-menu-link: $off-white;
$background-mobile-menu-link: transparent;

//for top level current/clicked/focused anchors
$color-mobile-menu-link-active: $off-white;
$background-mobile-menu-link-active: $faded-white;


//submenus
$background-mobile-sub-menu: transparent;

//submenu anchors
$color-mobile-sub-menu-link: $off-white;
$background-mobile-sub-menu-link: transparent;

//sub menu anchors current or active
$background-mobile-sub-menu-link-active: transparent;
$color-mobile-sub-menu-link-active: $off-white;

//head spinning yet?
