/**
 * Here you can add or change variables that will affect layout, color and backgrounds.
 */

/*--------------------------------------------------------------
# Layout and Structure Variables
--------------------------------------------------------------*/

$wrap: 1030px; //max width of site
$gutters: 15px; //two columns next to each other becomes 30px of gutters when this is 15px
$baseline: 2 * $gutters; //used mostly for a margin bottom. Matches gutters
$content-width: 700px; //max width of text content holder. usually has gutters also making the content width really 670. Good for holding Articles.

$sidebar-width: 300px; //keeping sidebar from getting too big in flexbox layout
$cool-sidebar-top-padding: 60px; //should match your site-top height or be bigger. Find your site top height via inspector

/*------- Media Queries --------*/
$mobile-width: 500px; //when the site should go mobile

//NOTE: when changing these 2 values below, also make sure to change the navigation.js corresponding values. 
//You will find them at the top of that file. They are responsible for doing some scripts when the window hits those values

$mobile-nav-width: 600px; //when the main menu at top should go mobile
$sidebar-mobile-width: 1000px; //when sidebar should go mobile and hidden off to side

/*--------------------------------------------------------------
# Typography Variables
--------------------------------------------------------------*/

$font-main: 'Roboto', arial, sans-serif;
$font-headers: 'Roboto Slab', serif;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height-pre: 1.6;
$font-line-height-body: 1.5;
//html main font size can be found in typograpgy.scss. Uses css font lock to change width based on window size.

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

//try never to put colors you add directly onto other scss pages. Otherwise you have to go through them all if you want to change a color.
//Instead use the applied colors variables below in your theme files so you can change colors here if needed at a later date.

//5 to 6 colors is usually good for one site. 
//I like using https://coolors.co/app to choose my colors
$white: white;
$off-white: rgba(#FFFFFF, .75);
$blue: #10B8E0;
$dark-blue: #2C386E;
$purple: #A46AE6;
$dark-purple: #302039;
$purple-overlay: rgba(#302039, .5);
$transparent-white: rgba(#fff, .3);
$grey: grey;

$blue-purple-gradient: linear-gradient(90deg, #311F37 7%, #27315C 67%);

/*--------------------------------------------------------------
# Applied Colors
--------------------------------------------------------------*/
//use, add and remove based on how specific your theme needs to be. Use descriptions as the variable to help you remember.

/*------- Body --------*/
$color-text-main: $dark-blue; //main color of text
$color-text-secondary: $grey; //metadata, dates...
$background-body: $white; //main background

/*------- Links and Buttons --------*/
$highlight: $purple; //links, buttons
$highlight-active: shade($highlight, 30%);
$on-highlight: $white; //if $highlight is used for background of say a button, this color goes on top. Good for buttons

/*------- Inputs --------*/
$color-input: $dark-purple;
$background-input: $transparent-white;
$border-color-input: $purple;

//the following variables are used by the default styling included. feel free to change
/*------- Default Content Headers --------*/
$color-header: $off-white; //text in a header
$background-header: $blue-purple-gradient; //when there is just text in header, image will use color below on top
$background-header-with-image: rgba($dark-blue, .7); //when there is an image in header, theres this faded blue and text on top.

/*------- Default Content --------*/
$color-title: $dark-blue;
$color-meta: $grey; //date, categories... 
$color-content: $dark-purple; //actual article text
$background-content: $white; //background behind content
$background-content-shadow: rgba($dark-blue, .5);
$post-naviagtion-bg: $dark-blue;
$color-content-h2: $dark-blue;

/*------- Sidebar --------*/
$background-sidebar: shade($dark-purple, 50%);
$color-sidebar: $white;
$color-sidebar-header: $off-white;
$color-sidebar-highlight: $grey;
$color-sidebar-highlight-active: $purple;

/*------- Inline Sidebar --------*/
$background-inline-sidebar: transparent;
$color-inline-sidebar: $dark-purple;
$color-inline-sidebar-header: $dark-blue;
$color-inline-sidebar-highlight: $grey;
$color-inline-sidebar-highlight-active: $purple;

/*------- Break-Out --------*/
$color-break-out: $white;
$background-break-out: $dark-purple;

/*------- footer --------*/
$color-footer: $white;
$background-footer: $dark-purple;

/*--------------------------------------------------------------
# Applied menu and site top Colors and Backgrounds
 - All this stuff can be found in menus.scss
--------------------------------------------------------------*/

/*------- Site Top --------*/

//site-top and logo
$background-site-top: transparent;
$site-top-border-bottom: 1px solid $transparent-white;
$color-logo: $white;

//Site top positioning
$site-top-position: absolute; //relative or absolute
$header-top-padding: 50px; //if absolute chosen above, use a padding to push down content

//menu toggle buttons
$background-menu-toggle: transparent; //also used for sidebar toggle
$color-menu-toggle: $off-white; //color of icon

//when toggled on
$color-menu-toggled: $white;
$color-sidebar-toggled: $white; //cool sidebar

/*------- Desktop menus --------*/

//margin between items
$menu-item-margin-right: 10px;

//Desktop Menu Links
$color-menu-link: $white;
$background-menu-link: transparent;

//Desktop Menu Links Hovered
$color-menu-link-active: $blue;
$background-menu-link-active: transparent;

//Submenus
$background-sub-menu: $white; //background of the submenu dropdown
$color-sub-menu-link: $blue;
$background-sub-menu-link: transparent; //background of each submenu item

//Submenu Link Hovers
$color-sub-menu-link-hover: $white;
$background-sub-menu-link-hover: $purple;

/*------- Mobile Menu --------*/
//Mobile Popout Background Color
$background-mobile-popout: linear-gradient(45deg, #2D1754 0%, #2BAEC8 100%);;

//Links
$color-mobile-menu-link: $white;
$background-mobile-menu-link: $purple-overlay;

//for top level current/clicked/focused anchors
$color-mobile-menu-link-active: $white;
$background-mobile-menu-link-active: $purple-overlay;

//submenus
$background-mobile-sub-menu: transparent;

//submenu anchors
$color-mobile-sub-menu-link: $off-white;
$background-mobile-sub-menu-link: transparent;

//sub menu anchors current or active
$background-mobile-sub-menu-link-active: transparent;
$color-mobile-sub-menu-link-active: $off-white;

//head spinning yet? :D
