@import "style.scss";

.page-template-page-blank{
	padding: 0 15px;
}

.mce-content-body:not(.page-template-page-blank, .page-template-page-blank-sidebar){
	@extend .content-width;
	padding-left: $gutters !important;
	padding-right: $gutters !important;
}

.col, .flex > *{
	border: 1px solid transparent;
	transition: all .5s;
}

.col:hover, .flex > *:hover{
	border: 1px solid pink;
}