h1, h2, h3, h4, h5, h6 {
	clear: both;
}


article, #tinymce{
	h2{
		margin-top: 3 * 1rem;
		margin-bottom: .5rem; 
	}
	
	h3, h4, h5, h6{
		margin-top: 2.4rem;
		margin-bottom: .5rem;
	}
	
	h3{
	 @include font-size(1.5);
	 	
	}
} 

header h1{
	margin: 0;
} 

.widget h2{
	margin: 0;
	margin-bottom:  .5rem;
}

article h2, article .h2, article h2 a, #tinymce h2, #tinymce .h2{
	text-transform: capitalize;
	@include font-size(1.62);
	color: $heading-two;
	margin-bottom: 10px;
}

h1, .h1{
	font-weight: normal;
	@include font-size(3.75);
	text-transform: capitalize;
}


@media screen and (max-width: $mobile-width){
	h1, .h1{
		@include font-size(2.6);
		}
}