h1, h2, h3, h4, h5, h6 {
	clear: both;
}


article{
	h2, h3, h4, h5, h6{
		margin-top: 2 * $baseline;
		margin-bottom: .5rem; 
	}
} 

header h1{
	margin: 0;
} 

.widget h2{
	margin: 0;
	margin-bottom:  .5rem;
}