html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	
  border-left: 10px solid $light-neutral;
  margin-bottom: $baseline;
  padding: 0 15px;
  quotes: "\f10d" "\f10e" "" "";
  font-style: italic;
	
	&:before{
		content: open-quote;	
		font-family: $fa;
		color: $light-neutral;
	}
	
	
	
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


@import "tables";
@import "prism";


body .content-sidebar-holder{
   justify-content: space-between;
   &:before{
      content: none;
   }
}


/*--------------------------------------------------------------
# pulse animation
--------------------------------------------------------------*/
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
      transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
   animation-fill-mode: both;
   animation-duration: 1s;
}





/*--------------------------------------------------------------
# 404 page
--------------------------------------------------------------*/

.error404{
	@extend .gradient;
	.site-top{
		display: none;
	}
	
	.site-content{  //centers the only thing inside... the main content
		display: flex;
		align-items: center;
	}
	p{
		@include font-size(.9);
	}
	
	.site-logo span{
		color: white;
	}
	
	footer{
		display: none;
	}
	
	h1, p{ color: white;}
	
}

i{ display: inline-block; } //fixes as fontawesome loads a bit after... now using js

/*--------------------------------------------------------------
# objects
--------------------------------------------------------------*/


.break-out{
	margin-bottom: $baseline;
}

body .texture{
	background: url('images/texture.jpg');
}



body .gradient, .gradient{
	background: $noise, $gradient;	 
}

.dark-bg{
	background: $dark-bg;
}

.shaker-emblem{
    width: 170px;
    height: 170px;
    border-radius: 100%;
    margin: auto;
    background: white;
    padding: 15px;
    box-shadow: 0 -4px 4px rgba(0, 0,0, 0.5);
    
    img{
	    height: 100%;
    }
}

section{
	padding: 30px 0;
}


.site-footer{
	background: $dark-bg;
	padding: 15px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	color: $light-neutral;
	#menu-social-links{
		padding-top: 30px;
		margin: auto;
		width: 126px;
		display: flex;
		@include font-size(1.2);
		justify-content: space-between;
	}
	
	.widget{
		margin: 0;
	}
	
	section{
		padding: 0;
	}
}



/*--------------------------------------------------------------
# module
--------------------------------------------------------------*/

#page .module{
	background: #FFFFFF;
	box-shadow: 0px 10px 40px 2px rgba(0,0,0,0.52);
	border-radius: 3px;
	min-width: 65vw;
	margin: auto;
	margin-bottom: $baseline;
	padding: 30px;
	max-width: 800px;
	color: $color__text-main;
	
	.h1, h1{
		font-weight: 600;
		margin-top: 0;
		margin: 0;
	}
	
	h1, h2, h3, h4, .h1{
		color: $neutral;
		
	}
	
	

}

@media screen and (max-width: $mobile-width + 200px){
	#page .module{
		max-width: 100%;
		min-width: auto;
		
		&.flex{
			display: block;
		}
		
	}
}



/*--------------------------------------------------------------
# fancybox
--------------------------------------------------------------*/

.fancybox-outer{
.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}
}


.entry-content .fancybox{
	position: relative;
	display: block;
	&:after{
		display: block;
		content: '\f065';
		font-family: $fa;
		position: absolute;
		bottom: 0;
		right: 0;
		background: $color__link;
		color: white;
		padding: 3px 10px;
		border-radius: 3px 0 0 3px;
	}
}




/*--------------------------------------------------------------
# large logo
--------------------------------------------------------------*/

#page .large-logo{
	transform: scale(3);
	display: inline-block;
	
	svg{
		margin-right: 0;
	}
}