//links outside of article dont have visited and focus...
a {
	text-decoration: none;
	color: $color__link;
	
  &:focus {
		outline: none;
	}
		&:hover,
	&:active {
		outline: 0;
	}
}


article .entry-content a:not(.link):not(.button){
	@extend .transitions;
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
		color: $color__link-hover;
	}
	

}



.link{
	color: $color__link;
	font-weight: 600;
	@include font-size(1.125);
	text-transform: uppercase;
	display: inline-block;
	
	i{
		margin-left: 3px;
	}
}

