svg{
	max-width: 100%;
}

.site-logo{
	a{ 
		display: flex; 
		align-items: center;
		color: inherit;
		
		span{
			//opacity: 0;
		}
	}
	
	h1, p{
		margin: 0;
		display: flex;
		align-items: center;
		font-weight: normal;
		@include font-size(1);
		color: $neutral;
		@extend .transitions;
		height: 100%;
		svg{
			background: transparent;
			border-radius: 100%;
			padding: 5px;
			width: 40px;
			height: 40px;
			@extend .transitions;
			margin-right: 10px;
		}
	}
}

.site-top.animate{
	background: rgba($dark-blue, .95);
	
	.site-logo{
		h1, p{ color: white; }
	}
	.site-menu>li{
		color: white;
	}
	
	.wrap{
		border-color: transparent;
	}
	
	
}



.site-top .wrap{
	border-bottom: 1px solid rgba(129, 129, 129, 0.28);
}


	



.site-top{
	position: fixed;
	width: 100%;
	z-index: 98;
	
	&:hover, &.toggled{
		background: $dark-blue;
		
		.site-menu>li{
			color: white;
		}
		
	}
}


body:not(.home) .site-top{
	@extend .transitions;
	&:hover, &.toggled{
		.site-logo{
			h1, p{ color: white;}
		}
	}
}



//common settings for all sites

/*--------------------------------------------------------------
# Mobile Menu toggle button
--------------------------------------------------------------*/

.menu-toggle, .menu-toggle:focus, .menu-toggle:hover{
	font-family: sans-serif;
	font-weight: normal;
	box-shadow: none;
	border: none;
	position: fixed;
	left: 15px;
	top: 9px;
	z-index: 99;
	padding: 3px 10px;
	outline: none;
	background: transparent;
	color: $light-neutral;
	text-shadow: none;
	transition: none;
	
	.admin-bar &{
		top: 46px + 9px;
	}

	.bar-one, .bar-two{
		display: block;
		@include font-size(1.7);
		line-height: 7px;
		@extend .transitions;
	}
}

//when the button is toggled and the menu shows
.menu-toggle.toggled{
	position: fixed;
  
  .bar-one{
	  transform: rotate(45deg) translate(5px, -1px);
	  
  }
  
  .bar-two{
	  transform: rotate(-45deg) translate(4px, -2px);
	  
  }
	
  
	 
}  




/*--------------------------------------------------------------
# basic nav layout using flex
--------------------------------------------------------------*/

//basic nav is inside site-top like this: .site-top>.wrap.flex>.site-logo+#mobilize

.site-top .wrap{
		padding: 0 15px;
}

//if site-top has a set height, the inner stuff should fill it so that you can align items centered with flex
.main-navigation, #mobilize, .site-top .wrap, .site-top .site-menu{
	height: 100%;
}


#mobilize{
	flex: 1;
}

.center-menu{
   flex-basis: 100%;
}



//any menu up top that has .site-menu will get this li styling. wp seems to give .site-menu to the ul, 
//unless there is no menu chosen and its showing pages instead. then it applies .site-menu to a div before the ul... weird...
.site-top .site-menu>ul, .site-top ul.site-menu{ 
	@extend .clear;
	
	display: flex;
	align-items: center; //align vertically centered. change as needed.
	flex-wrap: wrap;
	flex: 1;
}



@media screen and (min-width: $mobile-nav-menu){
.site-logo + #mobilize{
		.site-menu>ul, ul.site-menu{
			justify-content: flex-end;	//putting the menu at end of line
			height: 100%;
		}
	}
}



/*--------------------------------------------------------------
#  main nav menu li styling
--------------------------------------------------------------*/
.site-menu{
	li{
		float: none;
		color: $nav-links;
		margin-right: 15px;
		padding: 8px 0;
		
		&:last-of-type{
			margin: 0;
		}
	}
	
	//all a's inside li's.
	a{
		color: inherit;
		@extend .transitions;
		outline: none;
		@include font-size(.8);
		text-transform: uppercase;
	}
	
	
}


/*--------------------------------------------------------------
# desktop only menu stuff
--------------------------------------------------------------*/				

@media screen and (min-width: $mobile-nav-menu) {
   

	.site-top .site-menu{

	  li{
			&:hover, &.current-menu-item{
				color: $color__link;
			}
		}


/*--------------------------------------------------------------
## desktop submenus
--------------------------------------------------------------*/
	 .sub-menu{
		 position:absolute;
		 left: 0;
		 z-index: 1;
		 visibility:hidden;
		 opacity: 0;
		 max-height: 0;
		 transition: all .4s ease;
		 text-align: left;
		 
		 li{
			 padding: 3px;
		 } 
		
		}
	
  }


	
	.site-top .sub-menu{
		//just in case they toggle it closed in mobile view and then go to desktop view
	  display: block !important; 
	}
		
	.site-menu .sub-menu .sub-menu{
		left: 100%;
	}
	
	//transition sub menus on desktop

	.site-menu .sub-menu{  		
		transition-delay: .3s;
		padding: 5px;
	} 
	
	
		.site-top .site-menu li:hover > .sub-menu,
		.site-top .site-menu li.focus > .sub-menu{
	    visibility: visible;
	    opacity: 1;
	    transition-delay: 0;
	    max-height: 1000px;
		}
		

		.dropdown-toggle{
			display: none;
		} 
		
		.menu-item-has-children > a:after{  //set with dropdown-toggle for icon down below
			transition: all .7s;
			line-height: 1;
			display: inline-block;
			transition-delay: .3s;
		}
		
		.menu-item-has-children:hover > a:after{
			transform: rotate(180deg);
			transition-delay: 0;
		}
		
} //end desktop styling


/*--------------------------------------------------------------
# styles for stright down menus like mobile
--------------------------------------------------------------*/


@mixin list-menu(){
	
	//if it was centred, uncenter the menu	
	.site-menu, .site-menu>ul{
		text-align: left;
		display: flex;
	   flex-direction: column;
	   justify-content: flex-start;
	   align-items: flex-start;
	   
	   span{
		   @include font-size(.7);
	   }

	}
		
	.menu-item-has-children > a:after{  //dropdown toggle button takes over so hide the pseudo element
		display: none;
	}
	
	
	
	li{
		margin: 0;
		padding: 5px 0;
		
		a{
			width: 80%;
			padding-left: 10px;
		}
	}
		
		
		//submenus remain out. no hover
		 ul.sub-menu{
			position: static;
			transition-delay: 0;
			opacity: 1;
			visibility: visible;
			transition: all 1s ease;
			transition: none;  //using jQuery slidetoggle instead
			box-shadow: none;
			float: none;
			overflow: visible;
			max-height: none;  //using jQuery slidetoggle instead
			display: none;
			padding: 5px 0;
			
			@include font-size(.9);
		}
		
		.dropdown-toggle{
			display: block;
		}
}



/*--------------------------------------------------------------
# mobilize menu popout
--------------------------------------------------------------*/

 @mixin mobilize(){
	 position: fixed;
	 left: 0;
	 display: block;
	 padding: 0;
	 top: 0;
	 height: 100vh;
	 z-index: 97;
	 background: $dark-blue;
    width: 40vw;
	 @include list-menu();
	 li{
		 color: white;
	 }
	  	
 }	



/*--------------------------------------------------------------
# Basic mobile styling 
--------------------------------------------------------------*/

@media screen and (max-width: $mobile-nav-menu){
	
	
	.site-logo{
		margin: auto;
		flex: 1;
		text-align: center;
		h1, p{
			display: inline-block;
		}
	}

	#mobilize{
	   @include mobilize();	
	  
	}
	
	
	.main-navigation{
		padding-top: 100px;
		
		.site-menu>li{
			width: 100%;
		}
		
	
	}
	
	#mobilize{
		transform: translate(-100%, 0);
		transition: all .5s;
	}
	
	#mobilize.toggled{
		transform: translate(0, 0);
	}

	
}


aside .widget_nav_menu{
	@include list-menu();
	
}

//more widgets stuff under site secondary


/*--------------------------------------------------------------
# Mobile Menu sub menu toggle buttons. See navigation.js where button is appended
--------------------------------------------------------------*/


    
//sub-menu clickable arrow button when on mobile
.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus{
	border: none;
	box-shadow: none;
	color: inherit;
	background: transparent;
	font-size: inherit;
	font-weight: inherit;
	padding: 0;
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 50;
	outline: none;
	right: 10px;
	//seperator after text before toggle angle
	&:before{
		content: '';
		border-left: 1px solid white;
		opacity: .5;
	}
}


//add the button for submenus after li text using font awesome angle down icon
.menu-item-has-children > a:after, .dropdown-toggle:after {
    content: "\f107";
    margin-left: 5px;
    font-family: 'fontAwesome';
}

.dropdown-toggle.toggled-on:after{ //angle up icon
	content: '\f106';
}


	