.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.3em;
	margin-top: 8px; //aligns with this font nicely
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.3em;
	margin-top: 8px;
}

.aligncenter {
	clear: both;
	@include center-block;
}
