.sticky {
	display: block;
}

.hentry {
	
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	//display: inline;
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	//margin: auto;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}



.entry-meta, .entry-footer{
	@include font-size(.7);
	color: $light-neutral;
	a, a:visited{
		color: inherit;
		@extend .transitions;
		&:hover,
	&:focus,
	&:active{
		color: white;
		}
	}
}

//if page is full width or a blank page. make the entry-content ignore the .content-column
 .page-template-page-blank, .page-template-page-full-width{
   #page .entry-content.content-column{
      max-width: none;
      padding: 0;
   }
}

@import 'front-page.scss';


//im using page blank for forms like contact or invoice pages are similar. the header is smaller
.single .entry-header, body:not(.error404) .page-header{
	position: relative;
	z-index: 97;
	margin-bottom: 3rem;
}

.entry-header, .archive-header, .page-header{
	padding-top: 55px;
}




/*--------------------------------------------------------------
# archive and single
--------------------------------------------------------------*/

//all these have a header with text. everything except special templates
.archive-header, .single .entry-header, body:not(.page-template-page-blank):not(.error404) .page-header{
	min-height: 260px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 30px;
	h1{
		text-align: center;
		width: 100%;
	}
}


.tags-links{
		margin-left: 5px;
		border-left: 1px solid $neutral;
		padding-left: 5px;
	}
	
	.edit-link{
		
		margin-left: 10px;
		
	}

/*--------------------------------------------------------------
# archive pages 
--------------------------------------------------------------*/

.archive-header{ //archive headers including blog and portfolio and search
	background: white;
	
	h1{
		color: $color__blog;
	}
}

 
/*--------------------------------------------------------------
## blog header
--------------------------------------------------------------*/

.taxonomy-description{
	position: absolute;
	left: 0;
	right: 0;
	
}

.filtering{
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	> *{
		
	}
}

.filtering *{
	list-style: none;
}

.dropdown{  //category dropdowns on blog. creates an li  with ul>li inside
		
	border: 1px solid $color__blog;
	border-radius: 3px;
	position: relative;
	margin: 0 10px;
	text-align: left;
	overflow: hidden;
	min-width: 100px;
	height: 30px;  
	cursor: pointer;
	@include font-size(.9);
	ul{
		@extend .no-list;
	}
	
	&>*{  //categories li
		padding: 2px 5px;
		color: $color__blog;
		
		&:after{
		content: '\f107';
		position: absolute;
		top: 3px;
		right: 5px;
		font-family: $fa;	
		color: inherit;
		}
	}
	
	ul{
		margin: 0 -5px; //negate outer padding of categories li
		background: $semidark-blue; 
		height: 0;
	}
	
	ul li{
		opacity: 0;
		visibility: hidden;
		padding: 2px 5px;
		transition: all .3s;
		
		a{ color: rgba(white, .6); display: block; }
	}
	
	
	//when opened
	.no-js &:hover, &.toggled{
		height: auto;
		box-shadow: 0 2px 4px rgba(0,0,0, 0.5);
		
		ul{
			height: auto; 
			
			li:hover{
				background: $color__blog;
			}
		}
		li{
			opacity: 1;
			visibility: visible;
			
		}
		
		&>*{ //very first item inside the dropdown
		background: $color__blog;
		color: white;
		padding: 2px 5px 0px 5px;
		
		}
	}
	
	
}



/*--------------------------------------------------------------
## blog and archive articles
--------------------------------------------------------------*/
.blog, .archive, .search{
	background: $color__blog;   //background under header
}


.archive-grid{
	max-width: $wrap; //3 cols = 1200
	margin: auto;
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: $light-neutral;
	.col{
    flex-basis: 400px; //3 on one line possible. safari has weird issues with min-width. use flex-basis as min width for now
    max-width: 600px; //2 on one line also possible 600 is biggest size thumbnail i have
    display: flex;
    
	}
}

.blog article, .archive article, .search article{
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: $baseline + 20px;
	background: $semidark-blue;
	position: relative;
	
	border: 1px solid $light-border;
	display: flex;
	flex-direction: column;

	
	.entry-header, .entry-content{
		padding: 10px;
	}
	.entry-content{
		padding-top: 5px;
		width: 100%;
		flex-grow: 1;
		p{
			margin-bottom: 15px;
		}
	}
	
	h2{
		margin: 0;
		a{ 
			margin: 0; 
			color: $light-neutral;
			}
	}
	
	img{
		border-radius: 2px 2px 0 0;
	}
	
	.entry-footer, .cat-info{
		padding: 3px 10px;
		border-top: 1px solid $light-border;
		a{
			font-weight: 600;
			&:hover{
			color: $color__link;
			}
		}
	}
	
	
	

}

//making all grid items on archive pages full width
@media screen and (max-width: $mobile-width){
	#page .archive-grid .col{
		flex-basis: 100%;
		min-width: 100%;
	}
	
	.archive-grid{
		max-width: none;
	}
}



/*--------------------------------------------------------------
# single posts and pages - default page
--------------------------------------------------------------*/

.single .entry-header{
	
	
	h1{ margin-bottom: $baseline; }
}


.featured-image{ 
		//margin-top: -75px;
		z-index: 90;
		position: relative;
		margin-bottom: $baseline;
		
		img{ 
			box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
			display: block;
			margin: auto;
		 }
}


.single .entry-header, body:not(.page-template-page-blank):not(.error404) .page-header, .single-attachment .entry-header{
	background: $color__blog;
	h1{
		color: white;
	}
}

.single, .page-template-default, .page-template-page-full-width{
	.site-logo{
		h1, p{ color: white; }
	}
	.site-menu>li{
		color: white;
	}
}


.single .entry-meta{ //just like the filtering on blog
	//position: absolute;
	left: 0;
	right: 0;
}
 
.inside-break-out{
	background: $semidark-blue;
	padding: 30px 15px;
	color: white;
	position: relative;
	
	img{
		border: 1px solid $light-border;
	} 
	
	
	.col figure, .mceTemp dl{
		width: auto !important;
		//so if i put some in cols they all stay the same size.
	}
}

.entry-content img{
	border-radius: 3px;
	display: block;
}

.alignleft .wp-caption-text{
	text-align: left;
} 

.wp-caption .wp-caption-text{
	margin-bottom: 0;
}

figure{
	margin: 0;
}

body:not(.home) .entry-content h2, #tinymce h2, .entry-content .h2, #tinymce .h2{
	color: $dark-teal;
	text-transform: uppercase;
	font-weight: 600;
}




/*--------------------------------------------------------------
# page overrides
--------------------------------------------------------------*/
body.page-template-default .page-header{
	@extend .gradient;
}



/*--------------------------------------------------------------
# archive portfolio overrides
--------------------------------------------------------------*/
body.post-type-archive-snp_portfolio{
	@extend .gradient;
}


body.post-type-archive-snp_portfolio{
	main .col{
    flex-basis: 450px; //2 on one line possible. with a min width of 450
    
	}
	
	.edit-link{
		position: absolute;
		top: 15px;
		left: 15px;
	}
	article{
		background: white;
		box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.50);
		border: none;
		border-radius: 2px;
		overflow: hidden;
		padding: 15px;
		
	}
	
	.portfolio-container{
		position: relative;
		overflow: hidden;
	}
	
	.entry-content{
		padding: 0;
		a, img{
			display: block;
		}
	}
	
	//the top and bottom are hidden until hover. on mobile a click
	
	.entry-header, .entry-footer{
		transform: translate(0, -100%);
		position: absolute;
		z-index: 90;
		background: rgba($color__blog, .9) ;
		border-bottom: 1px solid white;
		width: 100%;
		height: 50%;
		top: 0;
		text-align: center;
		display: flex;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		
		transition: all .5s;
		a, h2{ 
			color: white;
			display: block;
			
			}
		a{ padding: 15px; }
	}
	
	.entry-footer{
		transform: translate(0, 100%);
		height: 50%;
		bottom: 0;
		top: auto;
		border-top: 1px solid white;
		
		
		i{
			@include font-size(3);
		}
	}
	
}


@media screen and (max-width: $mobile-width){

body.post-type-archive-snp_portfolio article.toggled{
			.entry-header, .entry-footer{
				transform: translate(0, 0);
			}
		 
	}
}
	
	//hover only works on big screens
	@media screen and (min-width: $mobile-width){
		
		body.post-type-archive-snp_portfolio article:hover{
			.entry-header, .entry-footer{
				transform: translate(0, 0);
			}
		 
		}
	}
	



/*--------------------------------------------------------------
# invoice
--------------------------------------------------------------*/
	
.single-invoice{
	@extend .gradient;
	
	.entry-header{
		background: transparent;
		margin-bottom: 0;
	}
} 



